/* Reset y configuraciones base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Fondo del cuerpo */
body,
html {
    background-color: #1c2544;
    background-image: url("/storage/app/public/background.png");
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    color: #fff;
    padding: 0;
}

body {

    flex: 1;
}

/* Estilo de los títulos */
.colorTitulo {
    color: #32cd32;
    text-align: center;
    margin-bottom: 20px;
    font-size: 70px;
}

.colorNombre {

    color: #32cd32;
    text-align: center;
    margin-bottom: 20px;
    font-size: 70px;

}

.contendor {

    background-color: #3a4569;
    margin: 0 auto;
    padding: 20px;
    border-radius: 36px;
    max-width: 1200px;
    /* Limita el ancho máximo del contenedor */
    width: 100%;
    height: auto;

}

#map {
    width: 100%;
    height: 50vh;
    /* 50% de la altura de la ventana */
    min-height: 400px;
    /* Altura mínima para no hacerse demasiado pequeño */
}

/* nuevo css para los contenedores
button {
  border: none;
  display: block;
  position: relative;
  padding: 0.7em 2.4em;
  font-size: 18px;
  background: transparent;
  cursor: pointer;
  user-select: none;
  overflow: hidden;
  color: royalblue;
  z-index: 1;
  font-family: inherit;
  font-weight: 500;
}

button span {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: -1;
  border: 4px solid royalblue;
}

button span::before {
  content: "";
  display: block;
  position: absolute;
  width: 8%;
  height: 500%;
  background: var(--lightgray);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-60deg);
  transition: all 0.3s;
}

button:hover span::before {
  transform: translate(-50%, -50%) rotate(-90deg);
  width: 100%;
  background: royalblue;
}

button:hover {
  color: white;
}

button:active span::before {
  background: #2751cd;
}
*/

.map-container {
    border: 2px solid #ffffff;
    border-radius: 10px;
    overflow: hidden;
}

.map-controls {
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 10px;
    gap: 10px;
    width: 30%;
    color: white;
    border: 2px solid #ffffff;
}

.blue-column {
    background-color: #004894;
    /* Azul */
}

.yellow-column {
    background-color: #ccb808;
    /* Amarillo pollito */
    color: black;
}

.red-column {
    background-color: #cb1e12;
    /* Rojo no tan chillón */
}

nav.contendor {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.map-controls button {
    border: none;
    display: block;
    position: relative;
    padding: 0.7em 2.4em;
    font-size: 14px;
    background: transparent;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    color: white;
    z-index: 1;
    font-family: inherit;
    font-weight: 500;
    width: 100%;
    text-align: center;
}

.map-controls button span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: -1;
    border: 2px solid white;
}

.map-controls button span::before {
    content: "";
    display: block;
    position: absolute;
    width: 8%;
    height: 500%;
    background: rgba(255, 255, 255, 0.3);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-60deg);
    transition: all 0.3s;
}

.map-controls button:hover span::before {
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 100%;
    background: rgba(255, 255, 255, 0.4);
}

.map-controls button:hover {
    color: white;
}

.map-controls button:active span::before {
    background: rgba(255, 255, 255, 0.6);
}



/* Media Query para pantallas pequeñas */
@media (max-width: 767px) {
    .contendor {
        margin: 20px;
        padding: 10px;
    }

    #map {
        height: 40vh;
        /* Ajusta el mapa a un tamaño más pequeño en pantallas pequeñas */
    }
}

/* Media Query para pantallas medianas */
@media (min-width: 768px) and (max-width: 1199px) {
    #map {
        height: 60vh;
        /* Ajusta el mapa a un tamaño intermedio */
    }
}

/* Media Query para pantallas grandes */
@media (min-width: 1200px) {
    #map {
        height: 70vh;
        /* Ajusta el mapa a un tamaño grande para pantallas grandes */
    }
}