/* Footer Styles */
.footer {
    background-color: #1c2544;
    /* Fondo oscuro */
    color: #ddd;
    /* Texto gris claro */
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-family: Arial, sans-serif;
    border-top: 3px solid #32cd32;
    margin: 0;
    position: sticky;
    bottom: 0;
    /* Línea verde */
}

.footer-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    margin-left: 8%;
}

.footer-left {
    flex: 1;
}

.footer-logo {
    font-size: 3rem;
    font-weight: bold;
    color: #32cd32;
    /* Verde claro */
    margin: 0;
}

.footer-center {
    flex: 2;
    text-align: center;
}

.footer-center h3 {
    margin-bottom: 10px;
    font-size: 1.5rem;
}

.footer-center p {
    margin: 10px 0px;
}

.footer-right {
    flex: 1;
    text-align: right;
}

.footer-right a {
    color: #32cd32;
    /* Verde claro */
    text-decoration: none;
    margin: 0 5px;
}

.footer-right a:hover {
    text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        text-align: center;
    }

    .footer-right {
        margin-top: 20px;
    }
}