/* Estilos globales */
body {
    background-color: #2c3e50;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 10px;
}

form {
    background-color: #34495e;
    padding: 20px;
    border-radius: 30px; /* Bordes más redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px; /* Limitar ancho máximo */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrar elementos dentro del formulario */
}

img {
    max-width: 100px; /* Tamaño del logo */
    margin-bottom: 20px;
    border-radius: 50%; /* Logo circular */
}

label {
    color: #2ecc71;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    align-self: flex-start; /* Alinear los labels a la izquierda */
}

input[type="email"],
input[type="password"],
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #2ecc71;
    border-radius: 20px; /* Esquinas redondeadas */
    background-color: #2c3e50;
    color: white;
    box-sizing: border-box;
}

input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:focus {
    outline: none;
    border-color: #27ae60;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 20px; /* Más redondeado */
    background-color: #2c3e50;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #2ecc71;
}

@media (max-width: 600px) {
    form {
        padding: 15px;
        border-radius: 20px; /* Ajustar para pantallas pequeñas */
    }
    img {
        max-width: 80px;
    }
    button,
    input[type="text"] {
        padding: 8px;
        border-radius: 15px;
    }
}
